# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Project generated
auth/buffer/
buffer/
*.png
*.jpg
*.jpeg
*.pdf

# OCR / temp
*.tesseract

# Build
dist/
build/
*.egg-info/

# Secrets
.env
