# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# FastAPI / temp uploads
auth/buffer/
auth/temp/
auth/uploads/

# OCR / Image outputs
*.png
*.jpg
*.jpeg

# PDFs (uploaded certificates)
*.pdf

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (frontend later)
node_modules/

# Supabase local
.supabase/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
